{{page-title "Customize Route"}}

{{! MD-BLOCK }}
# Customize Route

You can customize each route appearance in the sidebar by specifying:

* `order`
* `title`
* `disabled`

<p><CodeSnippet @name="customize-route.js" /></p>

{{! MD-BLOCK }}