{{page-title "Getting Started"}}


{{! MD-BLOCK }}
# Getting Started
## Installation

`ember install ember-concord-doc`

## Post-installation
### Generate required route

You must generate a `docs` route to start documenting<br />
`ember g route docs --dummy`<br />
This will be the base path for all your documentation pages.

### Start basic documentation structure
#### Fill your dummy application.hbs

<p><CodeSnippet @name="dummy-application.hbs" /></p>

#### Fill your dummy `index.hbs`

<p><CodeSnippet @name="dummy-index.hbs" /></p>

#### Fill your dummy `docs.hbs`

<p><CodeSnippet @name="dummy-docs.hbs" /></p>

{{! MD-BLOCK }}