{{! BEGIN-SNIPPET dummy-index }}
{{! tests/dummy/app/templates/index.hbs }}
<HeroHeader @addonName="Dummy Addon" />

<div
  class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8"
>
{{! MD-BLOCK }}
# Describe your addon here

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit
elementum est ac posuere. Curabitur convallis iaculis dui, quis ultricies
odio convallis a. Donec tincidunt massa sed neque imperdiet auctor. Sed
vitae odio finibus libero accumsan sollicitudin. Donec posuere eros quis
libero eleifend condimentum. Donec consequat egestas rutrum. Quisque sed
dolor eget odio ultricies mattis et sit amet nisl. Etiam maximus imperdiet
consequat. Suspendisse purus erat, porta sed bibendum ac, rutrum eu lacus.
Quisque faucibus semper vehicula. In aliquam dolor eget purus feugiat, eget
ullamcorper sapien blandit. Phasellus ante metus, commodo non porttitor in,
posuere eu orci. In vitae lacus non felis tempor eleifend. Aliquam erat
volutpat.
{{! MD-BLOCK }}
</div>

{{! END-SNIPPET }}