{{page-title "SidebarNav"}}

{{! MD-BLOCK }}
# &lt;SidebarNav&gt;

Generate sidebar based on your dummy app routes. <br />
This component will generate your route tree by doing some Ember introspection.
<p><LinkTo @route="docs.customize-route">More information on links customization</LinkTo></p>

{{! MD-BLOCK }}

<br />
{{! BEGIN-SNIPPET sidebar-nav-example }}
<SidebarNav />
{{! END-SNIPPET }}
<br />

{{! MD-BLOCK }}
<p><CodeSnippet @name="sidebar-nav-example.hbs" /></p>
{{! MD-BLOCK }}
